<section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Customer" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          
          <div class="card-body">
            <form  class="form-horizontal" #createCustomerModal="ngForm" autocomplete="off" (ngSubmit)="save()" >
           
              <label for="Name" class="form-label">Customer</label>
              <div class="mb-3">
                
                <select required class="form-control"
                [ngModel]="selectedUser"
                (ngModelChange)="selectedUser=$event"
                   name="name" id="name">
                  <option *ngFor="let d of users" [ngValue]="d.id">{{d.name}}</option>
                </select>
              </div>

              <label for="Name" class="form-label">Division</label>
              <div class="mb-3">
                
                <select required class="form-control"
                [ngModel]="selectedDivision"
                (ngModelChange)="selectedDivision=$event"
                   name="name" id="name">
                  <option *ngFor="let d of divisions" [ngValue]="d.id">{{d.name}}</option>
                </select>
              </div>
            
              <abp-modal-footer
              [saveDisabled]="!createCustomerModal.form.valid || saving"
              [cancelDisabled]="saving"
              (onCancelClick)="bsModalRef.hide()"  
            ></abp-modal-footer>
            </form>
       </div>
  </div>
  </div>
  </div>
  </section>
 
