
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Restaurantly Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/assets/img/favicon.png" rel="icon">
  <link href="/assets/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->

  <!-- Template Main CSS File -->
  <link href="/assets/assets/css/style.css" rel="stylesheet">
</head>

<section id="menu" class="menu section-bg">
 

  <div style="font-family: Poppins, sans-serif;" class="container">
    <a style="float: right;" href="javascript:;" class="btn bg-warning" (click)="showModal()">
      <i class="fa fa-cart-arrow-down"></i>
      Cart {{ count }}
    </a>
    <div class="section-title">
      <h2>Menu</h2>
      <p>Check Our Tasty Menu</p>
    </div>
    <div class="row menu-container">

      <div  *ngFor="let food of foods" class="col-lg-6 menu-item filter-starters">
        <img  [src]="'data:' + food.imageFileType + ';base64,' + food.image"
        class="menu-img" alt="">
        <div class="menu-content">
          <a href="#">{{ food.name }}</a><span>PHP {{ food.price }}</span>
        </div>
        <div class="menu-ingredients">
          {{ food.category.name }}
        </div>
        <a style="margin-top: 1vh; float: right; color: white;background-color: transparent; border-color: #cda45e;" (click)="viewOrder(food)" class="btn btn-primary"
        >View product</a>

      </div>

    </div>

  </div>
</section>