<section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Type" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          
          <div class="card-body">
            <form  class="form-horizontal" autocomplete="off" (ngSubmit)="save()" >
           
              <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input type="text" 
                class="form-control" 
                id="Name" name="Name" [(ngModel)]="types.name" #nameModel="ngModel" >
              </div>
              
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
       </div>
  </div>
  </div>
  </div>
  </section>
  <abp-modal-footer
  [cancelDisabled]="saving"
></abp-modal-footer>
