<section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Orders" | localize }}</h1>
        </div>
      
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">&emsp;</div>
            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button type="button" class="btn bg-blue">
                    <!-- <button type="button"class="btn bg-blue"(click)="getDataPage(1)"> -->
  
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="keyword"
                  [placeholder]="'SearchWithThreeDot' | localize"
                />
                <!-- <input type="text" class="form-control" name="keyword" [placeholder]="'SearchWithThreeDot' | localize"[(ngModel)]="keyword"(keyup.enter)="getDataPage(1)"/> -->
                <div class="input-group-append">
                  <!-- dropdown na icon -->
                  <button type="button" class="btn btn-default">
                    <!-- <button type="button" class="btn btn-default"(click)="advancedFiltersVisible = !advancedFiltersVisible"> -->
  
                    <i class="fas ng-tns-c86-1 fa-angle-down"></i>
                    <!-- <i class="fas" [class.fa-angle-up]="advancedFiltersVisible"[class.fa-angle-down]="!advancedFiltersVisible"></i> -->
                  </button>
                </div>
              </div>
            </div>
          </div>
  
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <!-- <table class="table table-striped table-bordered" [busy]="isTableLoading"> -->
                <thead class="bg-light">
                  <tr>
                    <th>{{ "id" | localize }}</th>
                    <th>{{ "Customer name" | localize }}</th>
                    <th>{{ "Customer Order" | localize }}</th>
                    <th>{{ "Date Ordered" | localize }}</th>
                    <th>{{ "Order Status" | localize }}</th>
                   
                    <th style="width: 170px">{{ "Actions" | localize }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <tr *ngFor="let order of Orders">
                    <td>{{ order.id }}</td>
                    <td>{{ order.customer?.name }}</td>
                    <td>{{ order.food?.name }}</td>
                    <td>{{ order.dateOrdered }}</td>
                    <td *ngIf="order.status == 1 ">
                      Cart
                      </td>
                      <td *ngIf="order.status == 2 ">
                        Place order
                        </td>
                        
                    
                    <td>
                      <!-- <button type="button" (click)="editorder(order)" class="btn btn-sm bg-secondary">
                        <i class="fas fa-pencil-alt"></i>
                        {{ "Edit" | localize }}
                      </button> -->
  
                      <button type="button" class="btn btn-sm bg-danger mx-2" (click)="delete(order)">
                        <i class="fas fa-trash"></i>
                        {{ "Delete" | localize }} 
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  