<section>
          <!-- <div *ngFor="let food of orders"> -->
          <div class="card">
          <div class="card-header p-4">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <p class="text-muted mb-2"> Order ID <span class="fw-bold text-body">1222528743</span></p>
                <p class="text-muted mb-0"> Place On <span class="fw-bold text-body">12,March 2019</span> </p>
              </div>
              <div>
                <h6 class="mb-0"> <a href="#">View Details</a> </h6>
              </div>
            </div>
          </div>
          <div class="card-body p-4">
            <div class="d-flex flex-row mb-4 pb-2">
              <div class="flex-fill">
                <h5 class="bold">Adobo</h5>
                <p class="text-muted"> Qt: 1 item</p>
                <h4 class="mb-3"> $ 80 <span class="small text-muted"> via (COD) </span></h4>
                <p class="text-muted">Tracking Status on: <span class="text-body">11:30pm, Today</span></p>
              </div>
              <div>
                <img class="align-self-center img-fluid"
                  src="assets/img/adobo.png" width="250">
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
        

</section>  
<div class="card-footer p-4">
  <div class="d-flex justify-content-between">
    <div class="border-start h-100"></div>
    <h5 class="fw-normal mb-0"><a href="#!">Cancel</a></h5>
    <div class="border-start h-100"></div>
    <h5 class="fw-normal mb-0"><a href="#!">Place Order</a></h5>
    <div class="border-start h-100"></div>
  </div>
</div>